.DS_Store
.env
.env.*
!.env.example
datasets
images
models
__pycache__
pyenv

/frontends/.DS_Store
/frontends/node_modules/
/frontends/build
/frontends/.svelte-kit
/frontends/package
/frontends/.env
/frontends/.env.*
/frontends/!.env.example
/frontends/vite.config.js.timestamp-*
/frontends/vite.config.ts.timestamp-*
